*.log
/PolyG-DBP/.metadata
.recommenders
/PolyG-DBP/.classpath
/PolyG-DBP/.project
/PolyG-DBP/.settings/
/PolyG-DBP/bin/
/PolyG-DBP/target/
/PolyG-DBP/string_splitter/
/PolyG-DBP/nbproject/
/PolyG-DBP/nbactions.xml
/PolyG-DBP/nb-configurations.xml
